<div class="bg p-3">
    <i class="pi pi-user rounded rounded-5 shadow bg-success text-light p-3 mb-3" style="font-size: 1.5rem"></i>
    <strong class="ms-3 fs-2">Ajin</strong>
    <i class="pi pi-sign-out rounded rounded-5   text-dark p-3 mb-3 float-end" style="font-size: 1.5rem"></i>

    <div class="pstyle position-relative ">
        <div class="position-absolute top-0 w-100">
            <div class="container mt-2 text-light">
                <p>Current Balance</p>
                <!-- <i class="pi pi-eye text-light m-1"
                                            style="font-size: 1.5rem"></i> -->
                <h5>e₹ 10000.00</h5>

            </div>

        </div>
        <img src="../../../assets/images/1024450-re.jpg" class="img rounded rounded-5 shadow" alt="">

        <div class="position-absolute bottom-0 w-100">
            <div class="container text-white">
                <p>Reserve Bank of India</p>
                <h4>Digital Rupee Wallet</h4>
            </div>

            <div class="rounded rounded-3 shadow bg-white p-5">


                <div class="d-flex justify-content-around text-center">
                    <span>
                        <i class="pi pi-arrow-up shadow text-light icon-bg p-3 rounded rounded-2"
                            style="font-size: 1.5rem"></i>
                        <br>
                        <strong>Send</strong>
                    </span>
                    <span>
                        <i routerLink="/qrCode" class="pi pi-arrow-down shadow icon-bg text-light p-3 rounded rounded-2"
                            style="font-size: 1.5rem"></i>
                        <br>
                        <strong>Collect</strong>
                    </span>
                    <span>
                        <i class="pi pi-bolt shadow icon-bg text-light p-3 rounded rounded-2"
                            style="font-size: 1.5rem"></i>
                        <br>
                        <strong>Load</strong>
                    </span>
                    <span>
                        <i class="pi pi-credit-card shadow icon-bg text-light p-3 rounded rounded-2"
                            style="font-size: 1.5rem"></i>
                        <br>
                        <strong>Redeem</strong>
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="">
        <div class="pt-4 text-center">
            <i routerLink="/qrCode/scanner" class="pi pi-qrcode shadow p-4 border border-primary icon-bg rounded rounded-2"
                style="font-size: 1.5rem"></i>
        </div>
    </div>


    <div class="p-3 ">
        <h4 class="pb-2">People</h4>
        <div class="d-flex justify-content-around text-center text-white mb-5">
            <span class="p-3  rounded rounded-5 icon-bg">AV</span>
            <span class="p-3 rounded rounded-5 icon-bg">AV</span>
            <span class="p-3  rounded rounded-5 icon-bg">AV</span>
            <span class="p-3 rounded rounded-5 icon-bg">AV</span>

        </div>

    </div>
    <div class="shadow border border-top-4 fixed-bottom d-flex justify-content-around bg-white p-3 mt-4">
        <i class="pi pi-user p-2" style="font-size: 1.5rem"></i>
        <i class="pi pi-home p-2" style="font-size: 1.5rem"></i>
        <i class="pi pi-history p-2" style="font-size: 1.5rem"></i>

    </div>
</div>