<div class="bg-image bg">
    <div class="container">
        
            <div class="row justify-content-center ">
                <div
                    class="col-lg-8 col-md-8 col-sm-9 col-11 rounded-5  border-color shadow  position-absolute top-50 start-50 translate-middle bg-light cards">
                    <div class="card-body">
                        <!-- <h3 class="card-title text-center mb-3 mt-2">Phygital</h3> -->
                        <div class="text-center">
                            <img class="logo mb-3 mt-3" src="../../assets/images/logo.png" alt="">
                            <hr class="mx-auto" size="3" width="90%" color="#1c9dd9">
                        </div>
                        <div class="row row-cols-lg-2 row-cols-1 mx-auto text-center mb-2">
                            <div class="col">
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <label for=""><b>Name:</b></label>
                                    </div>
                                    <div class="col">
                                        <label for="">Ajin</label>
                                    </div>

                                </div>
                            </div>
                            <div class="col">
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <label for=""><b>Age:</b> </label>
                                    </div>
                                    <div class="col">
                                        <label for="">23</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-lg-2 row-cols-1 mx-auto text-center mb-2">
                            <div class="col">
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <label for=""><b>Gender:</b> </label>
                                    </div>
                                    <div class="col">
                                        <label for="">Male</label>
                                    </div>

                                </div>
                            </div>
                            <div class="col">
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <label for=""><b>Mobile:</b> </label>
                                    </div>
                                    <div class="col">
                                        <label for="">1234567890</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-lg-2 row-cols-1 mx-auto text-center mb-3">
                            <div class="col">
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <label for=""><b>Email:</b> </label>
                                    </div>
                                    <div class="col">
                                        <label for="">123@gmail.com</label>
                                    </div>

                                </div>
                            </div>
                            <!-- <div class="col">
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <label for="">Mobile:</label>
                                    </div>
                                    <div class="col">
                                        <label for="">1234567890</label>
                                    </div>

                                </div>
                            </div> -->
                        </div>
                        <hr class="mx-auto" size="3" width="90%" color="#1c9dd9">
                        <div class="form-group mb-4 text-center">
                            <h5 class="form-label text-color" for="form2Example1"> Create Password</h5>
                            <div class="w-75 mx-auto">
                                <input type="email" id="form2Example1" class="form-control mb-3 " placeholder="Enter new Password" />
                                <button pButton type="button" style="background-color: #1c9dd9;" class="p-button mb-4 mx-auto" 
                                label="Register" (click)="onRegister()"></button>
                            </div>
                           
                        </div>

                      
                    </div>
                </div>
            </div>
        
    </div>
</div>