<div class="pt-5 pb-5">
    <div class="bg-white  fixed-top shadow">
        <h3 class="text-center mt-3 ">Transaction history</h3>

    </div>
<div class="mode == 'Offline'">
    <div *ngIf="offlineTransaction.length == 0 && (mode == 'Offline' || mode == 'MicroFinance')" class="mt-5 text-center">
        <h5>No Transaction History</h5>
    </div>
    <div *ngFor="let a of offlineTransaction"  class="row "> 
        <div class="mt-5 col-2">
            <span class="p-3 rounded rounded-5 icon-bg"><i class="pi pi-user"></i> </span>
        </div>
        <div class=" mt-5 text-start col-6">
            <strong >{{a.mobile }}</strong>
           
            <p>{{a.date | slice:1:25 }}</p>
        </div>
        <div class=" mt-5 col-4">
            <strong *ngIf="a.type == 'credit'" class="text-success text-left">
                +{{a.amount}}</strong>
            <strong *ngIf="a.type == 'debit'" class="text-danger text-left">
                -{{a.amount}}</strong>
                <strong class="pi pi-qrcode ms-3" *ngIf="mode == 'MicroFinance'" (click)="genQr(a.transaction)"></strong>

        </div>
    </div>

</div>
    
    <div *ngIf="mode == 'Online'">
        <div *ngFor="let transactionDetails of transactionDetails" class="row ">
            <!-- {{transactionDetails.tx.TransactionType}} -->
            <div class="row" *ngIf="!transactionDetails.tx.TransactionType.includes('Escrow')">

            
            <div class="mt-5 col-2">
                <span class="p-3 rounded rounded-5 icon-bg"> <i class="pi pi-user"></i></span>
            </div>
            <div class=" mt-5 text-start col-6">
               
                <strong *ngIf="transactionDetails.tx.Destination == senderId">{{transactionDetails.tx.Account |
                    slice:0:9 }}</strong>
                <strong *ngIf="transactionDetails.tx.Destination != senderId">{{ transactionDetails.tx.Destination |
                    slice:0:9}}</strong>
                <br>
                <p>{{rippleTimeToISOTime(transactionDetails.tx.date) | date:'medium' }}</p>
            </div>
            <div class=" mt-5 col-4">
                <p *ngIf="transactionDetails.tx.Destination == senderId" class="text-success text-left">
                    +{{transactionDetails.tx.Amount/1000000}}</p>
                <p *ngIf="transactionDetails.tx.Destination != senderId" class="text-danger text-left">
                    -{{transactionDetails.tx.Amount/1000000}}</p>
            </div>
        </div>
        </div>
    </div>
</div>