<div class="">
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-toast  position="center"></p-toast>

    
    <div class="container  pt-5 text-center">
        <h4>ATM withdrawal requests</h4>
        <hr>
    </div>
    <p-dialog header="ATM withdrawal request" [(visible)]="displayModal" [modal]="true" [style]="{width: '95%'}"
        [draggable]="false" [resizable]="false" styleClass="position-absolute ">
        <form  [formGroup]="escrowForm" (ngSubmit)="onSubmit()">
            
                <label for="otp"><small class="text-danger">*</small><strong> OTP:</strong></label>
                <input type="number" id="otp" class="form-control" ng-maxlength="5" [autofocus]=true  formControlName="otp">
                <label for="amount"><small class="text-danger">*</small><strong> Amount:</strong></label>
                <input type="number" id="amount" class="form-control"  formControlName="amount">
                <div *ngIf="escrowForm.invalid && escrowForm.touched" class="text-danger">
                   Enter the required Fileds
                  </div>
          
           
            <hr>
            <button *ngIf="!validate"  icon="pi pi-check" styleClass="p-button-text"
                    class="btn  btn-dark mt-2 float-end" type="submit" [disabled]="validEscrow.length > 0 ? true:false" > Send Request</button>
                    <i *ngIf="validate"  style="font-size: 1.5rem"
                    class="pi pi-spin pi-spinner mt-2 float-end" > </i>
        
                </form>

    </p-dialog>
   
    <div class="p-accord  p-3">
        <p-accordion class="mt-5">
            <p-accordionTab class="m-3" *ngFor="let escrows of validEscrow">
                <ng-template pTemplate="header"><strong>Amount ₹ {{escrows?.Amount/1000000}}</strong> 
                     </ng-template>
                <ng-template pTemplate="content">
                    <p>SequnceNo: {{escrow?.sequence}}</p>
                    <p>OTP: {{escrow?.otp}}</p>
                    <button (click)="onCancelEscrow()"  class="float-end btn btn-danger"  label="">Cancel Request</button>
                </ng-template>
                
            </p-accordionTab>
        </p-accordion>
    </div>

    <div class=" p-3 fixed-bottom  bg-light ">
        <button class="btn icon-bg  text-light float-right" (click)="onNewRequest()"> Create new ATM withdrawal
            request</button>
    </div>

</div>